@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --rpi-red-color: #c51d4a;

    --rpi-red-color-dark: #8b1534;

    --ui-selection-white: #f5f6f9;

    --ui-grey-light: #cccccc;

    --dark-background: #282828;

    --black-background: #1a1a1a;
}

body {
    background-color: var(--black-background);
    margin: 0;
}

* {
    font-family: Roboto, ui-sans-serif, system-ui, sans-serif;
}