@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --rpi-red-color: #c51d4a;

    --ui-selection-white: #f5f6f9;

    --ui-grey-light: #cccccc;
}

body {
    margin: 0;
    font-size: 2
}

* {
    font-family: Roboto, ui-sans-serif, system-ui, sans-serif;
    font-size: 2;
}